* { box-sizing: border-box; }

html, body {
	height: 100vh;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-size: 20px;
	position: relative;
}

.video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: auto;
	opacity: .2;
	pointer-events: none;
	z-index: -1;
}

* { box-sizing: border-box; }

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.link {
	color: #000;
	text-decoration: none;
}

.logo {
	max-width: 300px;
	margin: 48px 0;
}

.video-highlight {
  margin-bottom: 32px;
}

.social-wrapper {
	display: flex;
}

.icon-wrapper {
	font-size: 30px;
	margin: 0 15px;
  transition: transform .3s ease;
  margin-bottom: 32px;
}

.icon-wrapper:hover {
	transform: scale(1.1) rotate(9deg);
}

@media (max-width: 920px) {
	.content {
		height: initial;
		overflow: scroll;
		padding: 12px;
  }
  
  .video-highlight {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

	.video {
		height: 100vh;
		width: auto;
		opacity: .1;
	}
	
	.text {
		font-size: 16px;
		text-align: center;
	}

	.logo {
		width: 230px;
		margin: 15px auto;
	}

	iframe {
		width: 80%;
		margin: 0 5%;
	}

	.videos-wrapper {
		display: flex;
		overflow: scroll;
	}

	.first { order: -1; }
}